# APPLICATION
NODE_ENV=development
NODE_PORT=3000
NODE_USER=admin       
NODE_PWD=1234          

# MONGODB
MONGO_USER=root
MONGO_PASS=example
MONGO_HOST=mongo
MONGO_DB=tspark

# MONGO EXPRESS (Interface Web)
MONGO_EXPRESS_USER=admin
MONGO_EXPRESS_PASS=pass